@-moz-document url-prefix() {
    div.head div.bang span.name {
	letter-spacing: -1px;
    }
}



body {
    margin: auto;
    text-align: center;
    font-family: "Open Sans" !important;
    background-color: rgb(13,18,62);
    width: 100%;
    padding: 0px;

}



div.document {
    width: 100%;
    height: 1952px;
}

div.wrapper {
    width: 100%;
    min-width: 1024px;
}

div.wrapper-top {
    background-color: rgb(13,18,62);
    position: fixed;
    z-index: 1000;
    min-width: 1024px;
    width: 100%;
}

div.wrapper-head {
    background-image: url('../Zauzoo_img/main.png');

    
}


div.wrapper-content {
    background-color: #ffffff;
    margin: auto;
    display: block;
}

div.wrapper-references {
    background-color: rgb(166,178,196);
}

div.wrapper-products {
    background-color: rgb(13,18,62);
}

div.wrapper-footer {
    background-color: rgb(236,108,107)
}

div.wrapper-project {
    background-color: #ffffff;
}

div.page {
    position: relative;
    background-color: transparent;
    width: 100%;
/*    height: 1952px;*/

}

div.top {
    position: relative;
    width: 1024px;
    height: 95px;
    margin: auto;
}

div.top img.logo {
    float: left;
    margin-top: 25px;
    margin-left: 16px;
}

div.top div.language-menu {
	top: 40px;
    position: absolute;
    right: 120px;
    display: block;
    color: white;
    font-size: 13px;
/*    -moz-transform: scale(1, 1.02);
    -webkit-transform: scale(1, 1.02);
    -ms-transform: scale(1, 1.02);*/
}

div.top div.language-menu a {
    color: white;
    font-size: 13px;
    text-decoration: none;
/*    -moz-transform: scale(1, 1.02);
    -webkit-transform: scale(1, 1.02);
    -ms-transform: scale(1, 1.02);*/
    cursor: pointer;
}

div.top div.language-menu a:hover {
    color: rgb(236,108,107);
}

div.top ul.top-menu {
    position: absolute;
    right: 215px;
    display: inline-block;
    margin-top: 33px;
    border-style: solid;
  	border-width: 0px 1px 0px 0px;
  	padding-right: 15px;
    border-color: white;
}

div.top ul.top-menu li {
    list-style: none outside none;
    top: 50px;
    display: block;
    float: left;
    margin-left: 20px;
    font-size: 14px;
    font-family: Open Sans;
    color: rgb(255, 255, 255);
    line-height: 2.4;
    text-align: right;
/*    -moz-transform: scale(1, 1.02);
    -webkit-transform: scale(1, 1.02);
    -ms-transform: scale(1, 1.02);*/
}

div.top ul.top-menu li:hover {
  color: rgb(236,108,107);
  cursor: pointer;
}

.log_in {
	width: 90px;
	float: right;
	margin-top: 30px;
	margin-left: 5px;
}

a.log_in_button {
	width: 100px;
}

.log_in img {
	width: 90px; 
}

div.head {
    position: relative;
    height: 452px;
}

div.head div.bang {
    position: absolute;
    top: 22px;
    width: 590px;
    text-align: left;
    font-family: Open Sans;
    margin-left: 20%;
    margin-right: 20%;
}

div.head div.bang span.name {
    font-size: 48px;
    font-family: "Open Sans" !important;
    font-style: normal;
    font-weight: bold;
    color: rgb(255, 255, 255);
    width: 992px;
    display: block;
/*    -moz-transform: scale(1, 1.02);
    -webkit-transform: scale(1, 1.02);
    -ms-transform: scale(1, 1.02);*/
    line-height: 120%;
    margin-bottom: 10px;
}

div.head div.bang span.description {
    display: block;
    font-size: 18px;
    color: rgb(255, 255, 255);
    line-height: 2;
    text-align: left;
/*    -moz-transform: scale(1, 1.02);
    -webkit-transform: scale(1, 1.02);
    -ms-transform: scale(1, 1.02);*/
}

div.head div.bang div.buttons {
    margin-top: 24px;
    position: absolute;
    top: 290px;
}

div.head div.bang div.buttons div.button {
    width: 173px;
    height: 50px;
    float: left;
    margin-right: 10px;
    text-align: center;
    font-size: 16px;
    color: rgb(255, 255, 255);
    background-color: rgb(236,108,107);
    border-radius: 5px;
    border: 1px solid white;
/*    -moz-transform: scale(1, 1.02);
    -webkit-transform: scale(1, 1.02);
    -ms-transform: scale(1, 1.02);*/
    line-height: 46px;
}

div.head div.bang div.buttons div.button:hover {
    background-color: white;
    color:  rgb(236,108,107);
    cursor: pointer;
}

div.head div.pointers {
    height: 17px;
    position: absolute;
    margin-left: 20%;
    top: 414px;
}

div.head div.pointers div.pointer {
    width: 17px;
    height: 17px;
    background-image: url('../Zauzoo_img/unselected_2.png');
    float: left;
    margin-right: 7px;
    background-repeat: no-repeat;
}

div.head div.pointers div.pointer:hover {
    cursor: pointer;
}

div.head div.pointers div.pointer-selected {
    background-image: url('../Zauzoo_img/selected_2.png');
}

div.grey {
    position: relative;
    width: 100%;
    height: 261px;
    background-color: rgb(246,247,249);
}

div.grey div.text {
    position: absolute;
    top: 32px;
    left: 16px;
    width: 355px;
    text-align: left;
    margin-right: 20%;
    margin-left: 20%;
    
}

div.grey div.text span.name {
    display: block;
    font-size: 24px;
    color: rgb(62, 67, 74);
    font-weight: bold;
    line-height: 1.25;
    margin-bottom: 24px;
}

div.grey div.text span.description {
    font-size: 14px;
    color: black;
}

div.macbook {
    position: absolute;
    top: 220px;
    left: 700px;
    width: 650px;
    z-index: 20;
}

div.macbook img.macbook {
}

div.macbook img.frame {
    position: absolute;
    top: 104px;
    left: 123px;
    height: 250px;
    width: 406px;
}

div.project {
    position: relative;
    width: 992px;
    height: 0px;
    overflow: hidden;
/*    background-image: url('../images/hr.png');
    background-position: bottom left;*/
    background-repeat: no-repeat;
    border-bottom: 1px solid #EDEDED;
    display: block;
    margin-left: 5%;
}

div.project div.free {
    width: 1024px;
    height: 40px;
}

div.project span.name {
    font-size: 30px;
    color: rgb(62, 67, 74);
    font-weight: bold;
    line-height: 1;
    text-align: center;
    display: block;
}

div.project div.description {
    width: 992px;
    height: auto;
    margin-top: 40px;
    margin-bottom: 35px;
    text-align: justify;
    color: rgb(126, 132, 142);
}

div.project div.button {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 106px;
    height: 37px;
    font-size: 14px;
    color: white;
    line-height: 250%;
    text-align: center;
/*    -moz-transform: scale(1, 1.02);
    -webkit-transform: scale(1, 1.02);
    -ms-transform: scale(1, 1.02);*/
    background-color: rgb(236,108,107);
    border-radius: 5px;
}

div.project div.button:hover {
    background-color: white;
    color: rgb(236,108,107);
    cursor: pointer;
}

div.project div.description p {
    line-height: 150%;
}

div.project div.description img.left {
    width: 300px;
    margin-right: 16px;
    margin-bottom: 5px;
    margin-top: 5px;
    float: left;
    /*border: 1px solid rgb(220, 220, 220);*/
}

div.project div.description img.right {
    width: 300px;
    margin-left: 16px;
    margin-bottom: 5px;
    margin-top: 5px;
    float: right;
    /*border: 1px solid rgb(220, 220, 220);*/
}

div.content {
    position: relative;
    width: 1024px;
    height: 524px;
    margin: auto;
}

div.content div.free {
    width: 1024px;
    height: 40px;
}

div.content div.name {
    font-size: 30px;
    color: rgb(62, 67, 74);
    font-weight: bold;
    line-height: 1;
    text-align: center;
}

div.content div.description {
    font-size: 21px;
    color: rgb(126, 132, 142);
    line-height: 1.143;
    text-align: center;
    margin-top: 32px;
}

div.content div.offers {
    position: absolute;
    width: 992px;
    height: 341px;
    top: 183px;
    left: 18px;
}


div.content div.offers div.offer {
    position: absolute;
    width: 232px;
    height: 305px;
    background-image: url('../images/outline.png');
    background-repeat: no-repeat;
    float: left;
    overflow: hidden;
}

div.content div.offers div.offer-web {
    top: 0px;
    left: 0px;
}

div.content div.offers div.offer-is {
    top: 0px;
    left: 252px;
}

div.content div.offers div.offer-programovani {
    top: 0px;
    left: 504px;
}

div.content div.offers div.offer-konzultace {
    top: 0px;
    left: 756px;
}

div.content div.offers div.offer div.text {
    position: absolute;
    top: 0px;
    left: 232px;
    color: rgb(126, 132, 142);	
    text-align: left;
    height: 271px;
    width: 728px;
    padding-left: 16px;
    padding-top: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
}

div.content div.offers div.offer:last-child {
    margin-right: 0px;
}

div.content div.offers div.offer img.icon {
    position: absolute;
}

div.content div.offers div.offer img.icon-web {
    top: 60px;
    left: 94px;
    width: 44px;
    height: 36px;
}

div.content div.offers div.offer img.icon-is {
    top: 61px;
    left: 94px;
    width: 44px;
    height: 34px;
}

div.content div.offers div.offer img.icon-programovani {
    top: 58px;
    left: 95px;
    width: 41px;
    height: 40px;
}

div.content div.offers div.offer img.icon-konzultace {
    top: 58px;
    left: 96px;
    width: 39px;
    height: 39px;
}

div.content div.offers div.offer span.name {
    display: block;
    position: absolute;
    top: 132px;
    height: 24px;
    width: 232px;
    font-size: 19px;
    color: rgb(13, 18, 62);
    font-weight: bold;
    line-height: 1.421;
    text-align: center;
/*    -moz-transform: scale(1, 1.02);
    -webkit-transform: scale(1, 1.02);
    -ms-transform: scale(1, 1.02);*/
}

div.content div.offers div.offer span.description {
    font-size: 14px;
    color: rgb(137, 143, 152);
    line-height: 1.714;
    text-align: center;
/*    -moz-transform: scale(1, 1.02);
    -webkit-transform: scale(1, 1.02);
    -ms-transform: scale(1, 1.02);*/
    position: absolute;
    left: 26px;
    top: 166px;
    width: 180px;
    height: 62px;
}


div.content div.offers div.offer div.button {
    position: absolute;
    left: 63px;
    top: 266px;
    width: 106px;
    height: 37px;
    font-size: 14px;
    color: rgb(236, 108, 107);
    line-height: 250%;
    text-align: center;
/*    -moz-transform: scale(1, 1.02);
    -webkit-transform: scale(1, 1.02);
    -ms-transform: scale(1, 1.02);*/
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgb(236,108,107); 
  
 }

div.content div.offers div.offer div.button:hover {
    background-color: rgb(236,108,107);
    color: white;
    cursor: pointer;
}


div.references {
    position: relative;
    width: 1024px;
    height: 256px; /* 326px */
    overflow: hidden;
    margin: auto;
}

div.references span.name {
    display: block;
    position: absolute;
    top: 30px;
    width: 1024px;
    height: 30px;
    font-size: 30px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 0.83;
    text-align: center;
/*    -moz-transform: matrix( 1.00032888735191,0,0,0.99651411649769,0,0);
    -webkit-transform: matrix( 1.00032888735191,0,0,0.99651411649769,0,0);
    -ms-transform: matrix( 1.00032888735191,0,0,0.99651411649769,0,0);*/
}

div.references span.description {
    display: block;
    position: absolute;
    top: 80px;
    width: 1024px;
    height: 24px;
    font-size: 17px;
    color: white;
    line-height: 1.424;
    text-align: center;
/*    -moz-transform: matrix( 1.00032888735191,0,0,0.99651411649769,0,0);*/
/*    -webkit-transform: matrix( 1.00032888735191,0,0,0.99651411649769,0,0);*/
/*    -ms-transform: matrix( 1.00032888735191,0,0,0.99651411649769,0,0);*/
}


div.references div.images {
    position: absolute;
    top: 128px;
    left: 16px;
    width: 992px;
    overflow: hidden;
}

div.references div.images div {
    font-size: 18px;
    color: rgb(149, 205, 224);
    margin-bottom: 32px;
    overflow: hidden;
}

div.references div.images img.ref-image {
    margin-right: 25px;
    z-index: 0;
    width: 170px;
}

.new {
	opacity: 0.5;
}

#shiedel_img {
	width: 80px;
}

div.references div.images img.ref-image:last-child {
    margin-right: 0;
}

div.references div.button-wrapper {
    position: absolute;
    left: 0px;
    bottom: 0px; 
    width: 1024px;
    height: 112px;
    background-color: #007abe;
}

div.references div.button {
    position: absolute;
    bottom: 42px;
    left: 425px;
    width: 173px;
    height: 50px;
    background-image: url('../images/button.png');
    text-align: center;
    font-size: 16px;
    color: rgb(255, 255, 255);
/*    -moz-transform: scale(1, 1.02);
    -webkit-transform: scale(1, 1.02);
    -ms-transform: scale(1, 1.02);*/
    line-height: 46px;
}

div.references div.button:hover {
    background-image: url('../images/button_over.png');
    cursor: pointer;
}


div.products {
    position: relative;
    width: 1024px;
    height: 219px;
    z-index: 20;
    margin: auto;
}

div.products span.name1 {
    display: block;
    position: absolute;
    top: 22px;
    width: 1024px;
    height: 16px;
    font-size: 13px;
    color: rgb(208, 214, 221);
    font-weight: bold;
    text-align: center;
/*   -moz-transform: scale(1, 1.02);
   -webkit-transform: scale(1, 1.02);
   -ms-transform: scale(1, 1.02);*/
}

div.products span.description1 {
    display: block;
    position: absolute;
    top: 42px;
    width: 1024px;
    height: 16px;
    font-size: 13px;
    color: rgb(165, 171, 178);
    text-align: center;
    line-height: 2.077;
    opacity: 0.9;
/*   -moz-transform: scale(1, 1.02);
   -webkit-transform: scale(1, 1.02);
   -ms-transform: scale(1, 1.02);*/
}

div.products span.description1 span.item {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

div.products span.name2 {
    display: block;
    position: absolute;
    top: 26px;
    width: 1024px;
    height: 16px;
    font-size: 13px;
    color: rgb(208, 214, 221);
    font-weight: bold;
    text-align: center;
/*   -moz-transform: scale(1, 1.02);
   -webkit-transform: scale(1, 1.02);
   -ms-transform: scale(1, 1.02);*/
}

div.products span.description2 {
    display: block;
    position: absolute;
    top: 56px;
    width: 1024px;
    height: 60px;
    font-size: 13px;
    color: rgb(165, 171, 178);
    text-align: center;
    line-height: 2.077;
    opacity: 0.9;
/*   -moz-transform: scale(1, 1.02);
   -webkit-transform: scale(1, 1.02);
   -ms-transform: scale(1, 1.02);*/
}

div.products span.description2 a {
    color: rgb(165, 171, 178);
}

div.footer {
    height: 57px;
    font-size: 13px;
    color: white;
    line-height: 64px;
    opacity: 0.9;
    text-align: center;
/*    -moz-transform: scale(1, 1.02);
    -webkit-transform: scale(1, 1.02);
    -ms-transform: scale(1, 1.02);*/
}

@media only screen and (max-width: 1400px){

    div.head div.bang {
        margin-left: 10%;
        margin-right: 10%;
}

    div.head div.pointers {
        margin-left: 10%;
}

    div.grey div.text {
        margin-right: 10%;
        margin-left: 10%;
    
}
    div.macbook {
    left: 500px;
}
.wrapper{
    overflow-x: hidden;
}
}

@media all and (max-width: 500px){
    div.top {
        margin: 0px;
        margin-right: 0px;
        max-width: 1024px;
        width: 100%;
    }

    div.wrapper-top{
        max-width: 1024px;
    }

    .wrapper{
        overflow-x: hidden;
    }
}