body {
	margin: 0;
	padding: 0;
}
:root {
	--web-view-ids: Web_1920___1;
}
#Web_1920___1 * {
	margin: 0;
	padding: 0;
}
#Web_1920___1 {
	position: absolute;
	box-sizing: border-box;
	background: #E5E5E5;
	width: 1920px;
	height: 1983px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	margin: 0;
	padding: 0;
	opacity: 1;
	--web-view-name: Web 1920 – 1;
	--web-view-id: Web_1920___1;
	--web-enable-deep-linking: true;
}
#main_png {
	opacity: 1;
	fill: rgba(236,108,107,1);
}
.main_png {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 452px;
	left: 0.172px;
	top: 111px;
}
#Promotion {
	opacity: 1;
	position: absolute;
	width: 1919.828px;
	height: 259px;
	left: 0.172px;
	top: 564px;
	overflow: visible;
}
#bg_vrchni_png {
	opacity: 1;
	fill: rgba(166,178,196,0.102);
}
.bg_vrchni_png {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 1919.828px;
	height: 259px;
}
#V_me_jak_usnadnit_V___byznys {
	opacity: 1;
	position: absolute;
	left: 271.828px;
	top: 39.24px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: 560.633px;
	height: 90.002px;
	line-height: 40px;
	margin-top: -5px;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(13,18,62,1);
}
#Ji__17_let_d_l_me__co_n_s_bav_ {
	opacity: 1;
	position: absolute;
	left: 271.828px;
	top: 144.433px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: 509.819px;
	height: 85.567px;
	line-height: 24px;
	margin-top: -3px;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(91,109,136,1);
}
#bg {
	opacity: 1;
	fill: rgba(255,255,255,1);
	stroke: rgb(166, 178, 196);
	stroke-width: 1px;
	stroke-linejoin: round;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.bg {
	position: absolute;
	overflow: visible;
	width: 332px;
	height: 267.313px;
	left: 1329px;
	top: 1019px;
}
#bg_A0_Rectangle_3 {
	opacity: 1;
	fill: rgba(255,255,255,1);
	stroke: rgb(166, 178, 196);
	stroke-width: 1px;
	stroke-linejoin: round;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.bg_A0_Rectangle_3 {
	position: absolute;
	overflow: visible;
	width: 332px;
	height: 267.313px;
	left: 626px;
	top: 1019px;
}
#zahlavi_png {
	opacity: 1;
	fill: rgba(13,18,62,1);
}
.zahlavi_png {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 111px;
	left: 0.172px;
	top: 0px;
}
#Implementace_podnikov_ho_infor {
	opacity: 1;
	position: absolute;
	left: 268.847px;
	top: 151px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 754px;
	white-space: nowrap;
	line-height: 57.60000228881836px;
	margin-top: -4.80000114440918px;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.1px;
}
#M_jte_sv_j_byznys_pod_kontrolo {
	opacity: 1;
	position: absolute;
	left: 272px;
	top: 294.68px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: 705px;
	height: 142px;
	line-height: 36px;
	margin-top: -9px;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.1px;
}
#Home_____O_n_s_____Slu_by_____ {
	opacity: 1;
	position: absolute;
	left: 833.529px;
	top: 47px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: 520px;
	height: 21px;
	line-height: 36px;
	margin-top: -9px;
	text-align: right;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.1px;
}
#EN___DE___CZ {
	opacity: 1;
	position: absolute;
	left: 1382.529px;
	top: 47px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: 138px;
	height: 21.333px;
	line-height: 36px;
	margin-top: -9px;
	text-align: right;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.1px;
}
#Group_30 {
	opacity: 1;
	position: absolute;
	width: 173px;
	height: 50px;
	left: 271.795px;
	top: 459px;
	overflow: visible;
}
#button_png {
	opacity: 1;
	fill: rgba(0,98,172,0);
	stroke: rgba(255, 255, 255, 0.5);
	stroke-width: 1px;
	stroke-linejoin: round;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.button_png {
	position: absolute;
	overflow: visible;
	width: 173px;
	height: 50px;
	left: 0px;
	top: 0px;
}
#V_ce_informac_ {
	opacity: 1;
	position: absolute;
	left: 32.932px;
	top: 12.949px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 109px;
	white-space: nowrap;
	line-height: 19.200000762939453px;
	margin-top: -1.6000003814697266px;
	text-align: center;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.1px;
}
#outline_png {
	opacity: 1;
	fill: rgba(255,255,255,1);
	stroke: rgb(166, 178, 196);
	stroke-width: 1px;
	stroke-linejoin: round;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.outline_png {
	position: absolute;
	overflow: visible;
	width: 332px;
	height: 267.313px;
	left: 269px;
	top: 1019px;
}
#Group_20 {
	opacity: 1;
	position: absolute;
	width: 104px;
	height: 35px;
	left: 382px;
	top: 1222px;
	overflow: visible;
}
#button_m_png {
	opacity: 1;
	fill: url(#LinearGradientFill1);
	stroke: rgb(236, 108, 107);
	stroke-width: 1px;
	stroke-linejoin: round;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.button_m_png {
	position: absolute;
	overflow: visible;
	width: 106px;
	height: 37px;
	left: 0px;
	top: 0px;
}
#V_ce_info {
	opacity: 1;
	position: absolute;
	left: 24px;
	top: 8px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 57px;
	white-space: nowrap;
	line-height: 27px;
	margin-top: -6.5px;
	text-align: center;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(236,108,107,1);
}
#Group_23 {
	opacity: 1;
	position: absolute;
	width: 104px;
	height: 35px;
	left: 739px;
	top: 1222px;
	overflow: visible;
}
#button_m_png_A0_Rectangle_8 {
	opacity: 1;
	fill: url(#LinearGradientFill2);
	stroke: rgb(236, 108, 107);
	stroke-width: 1px;
	stroke-linejoin: round;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.button_m_png_A0_Rectangle_8 {
	position: absolute;
	overflow: visible;
	width: 106px;
	height: 37px;
	left: 0px;
	top: 0px;
}
#V_ce_info_A0_Text_9 {
	opacity: 1;
	position: absolute;
	left: 24px;
	top: 8px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 57px;
	white-space: nowrap;
	line-height: 27px;
	margin-top: -6.5px;
	text-align: center;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(236,108,107,1);
}
#Group_24 {
	opacity: 1;
	position: absolute;
	width: 104px;
	height: 35px;
	left: 1442px;
	top: 1222px;
	overflow: visible;
}
#button_m_png_A0_Rectangle_9 {
	opacity: 1;
	fill: url(#LinearGradientFill3);
	stroke: rgb(236, 108, 107);
	stroke-width: 1px;
	stroke-linejoin: round;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.button_m_png_A0_Rectangle_9 {
	position: absolute;
	overflow: visible;
	width: 106px;
	height: 37px;
	left: 0px;
	top: 0px;
}
#V_ce_info_A0_Text_10 {
	opacity: 1;
	position: absolute;
	left: 24px;
	top: 8px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 57px;
	white-space: nowrap;
	line-height: 27px;
	margin-top: -6.5px;
	text-align: center;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(236,108,107,1);
}
#V_voj_webov_ch_str_nek_p_esn__ {
	opacity: 1;
	position: absolute;
	left: 294px;
	top: 1148.64px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: 281px;
	height: 88.667px;
	line-height: 24px;
	margin-top: -5px;
	text-align: center;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(91,109,136,1);
}
#Webov__str_nky {
	opacity: 1;
	position: absolute;
	left: 358px;
	top: 1107px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 153px;
	white-space: nowrap;
	line-height: 27px;
	margin-top: -4px;
	text-align: center;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 19px;
	color: rgba(13,18,62,1);
}
#Implementace__a_spr_va_ERP_sys {
	opacity: 1;
	position: absolute;
	left: 651px;
	top: 1148.64px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: 281px;
	height: 88.667px;
	line-height: 24px;
	margin-top: -5px;
	text-align: center;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(91,109,136,1);
}
#Informa_n__syst_m {
	opacity: 1;
	position: absolute;
	left: 702px;
	top: 1107px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 179px;
	white-space: nowrap;
	line-height: 27px;
	margin-top: -4px;
	text-align: center;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 19px;
	color: rgba(13,18,62,1);
}
#bg_A0_Rectangle_10 {
	opacity: 1;
	fill: rgba(255,255,255,1);
	stroke: rgb(166, 178, 196);
	stroke-width: 1px;
	stroke-linejoin: round;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.bg_A0_Rectangle_10 {
	position: absolute;
	overflow: visible;
	width: 332px;
	height: 267.313px;
	left: 976px;
	top: 1019px;
}
#Group_21 {
	opacity: 1;
	position: absolute;
	width: 104px;
	height: 35px;
	left: 1089px;
	top: 1222px;
	overflow: visible;
}
#button_m_over_png {
	opacity: 1;
	fill: rgba(236,108,107,1);
}
.button_m_over_png {
	position: absolute;
	overflow: visible;
	width: 104px;
	height: 35px;
	left: 0px;
	top: 0px;
}
#V_ce_info_A0_Text_15 {
	opacity: 1;
	position: absolute;
	left: 25px;
	top: 8px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 55px;
	white-space: nowrap;
	line-height: 27px;
	margin-top: -6.5px;
	text-align: center;
	font-family: Open Sans;
	font-style: normal;
	font-weight: lighter;
	font-size: 14px;
	color: rgba(255,255,255,1);
}
#Program_torsk__slu_by_a_odborn {
	opacity: 1;
	position: absolute;
	left: 1001px;
	top: 1148.64px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: 281px;
	height: 88.667px;
	line-height: 24px;
	margin-top: -5px;
	text-align: center;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(91,109,136,1);
}
#Programov_n_ {
	opacity: 1;
	position: absolute;
	left: 1074px;
	top: 1107px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 135px;
	white-space: nowrap;
	line-height: 27px;
	margin-top: -4px;
	text-align: center;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 19px;
	color: rgba(13,18,62,1);
}
#Spr_va_HW_a_po__ta_ov_ch__s_t_ {
	opacity: 1;
	position: absolute;
	left: 1354px;
	top: 1148.64px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: 281px;
	height: 88.667px;
	line-height: 24px;
	margin-top: -5px;
	text-align: center;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(91,109,136,1);
}
#Spr_va_HW_a_s_t_ {
	opacity: 1;
	position: absolute;
	left: 1418px;
	top: 1107px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 154px;
	white-space: nowrap;
	line-height: 27px;
	margin-top: -4px;
	text-align: center;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 19px;
	color: rgba(13,18,62,1);
}
#Na_e_slu_by_jsou_neomezen__Va_ {
	opacity: 1;
	position: absolute;
	left: 749px;
	top: 927.77px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 423px;
	white-space: nowrap;
	line-height: 24px;
	margin-top: -1.5px;
	text-align: center;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 21px;
	color: rgba(91,109,136,1);
}
#Nab_z_me_V_m {
	opacity: 1;
	position: absolute;
	left: 852px;
	top: 879.543px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 217px;
	white-space: nowrap;
	text-align: center;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(13,18,62,1);
}
#Tesimonials {
	opacity: 1;
	position: absolute;
	width: 1358.18px;
	height: 316px;
	left: 207.172px;
	top: 1397px;
	overflow: visible;
}
#bg_A0_Rectangle_12 {
	opacity: 1;
	fill: rgba(247,248,250,1);
	stroke: rgb(235, 237, 240);
	stroke-width: 1px;
	stroke-linejoin: round;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.bg_A0_Rectangle_12 {
	position: absolute;
	overflow: visible;
	width: 1360.18px;
	height: 318px;
	left: 0px;
	top: 0px;
}
#N_zory_na_ich_z_kazn_k_ {
	opacity: 1;
	position: absolute;
	left: 506.474px;
	top: 25.543px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 355px;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(62,67,74,1);
}
#ID1 {
	opacity: 1;
	position: absolute;
	width: 281.02px;
	height: 169.99px;
	left: 234.031px;
	top: 90px;
	overflow: visible;
}
#Director_Engineering___Jon_Doe {
	opacity: 1;
	position: absolute;
	left: 60.224px;
	top: 137.695px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 171px;
	white-space: nowrap;
	line-height: 30px;
	margin-top: -9px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(110,116,124,1);
}
#testimonial_bg {
	opacity: 1;
	filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.102));
	fill: rgba(255,255,255,1);
}
.testimonial_bg {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 0px;
	left: 1.02px;
	width: 310px;
	height: 140px;
}
#Morbi_venenatis__nulla_at_accu {
	opacity: 1;
	position: absolute;
	left: 22.308px;
	top: 18.282px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: 240.212px;
	height: 78.833px;
	line-height: 18px;
	margin-top: -2.5px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(101,107,116,1);
}
#image {
	opacity: 1;
	fill: rgba(210,220,224,1);
}
.image {
	position: absolute;
	overflow: visible;
	width: 51px;
	height: 51px;
	left: 0px;
	top: 118.99px;
}
#ID2 {
	opacity: 1;
	position: absolute;
	width: 281.02px;
	height: 169.99px;
	left: 544.56px;
	top: 90px;
	overflow: visible;
}
#Director_Engineering___Jon_Doe_A0_Text_25 {
	opacity: 1;
	position: absolute;
	left: 60.224px;
	top: 137.695px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 171px;
	white-space: nowrap;
	line-height: 30px;
	margin-top: -9px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(110,116,124,1);
}
#testimonial_bg_A0_Path_3 {
	opacity: 1;
	filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.102));
	fill: rgba(255,255,255,1);
}
.testimonial_bg_A0_Path_3 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 0px;
	left: 1.02px;
	width: 310px;
	height: 140px;
}
#Morbi_venenatis__nulla_at_accu_A0_Text_26 {
	opacity: 1;
	position: absolute;
	left: 22.308px;
	top: 18.282px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: 240.212px;
	height: 78.833px;
	line-height: 18px;
	margin-top: -2.5px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(101,107,116,1);
}
#image_A0_Ellipse_2 {
	opacity: 1;
	fill: rgba(210,220,224,1);
}
.image_A0_Ellipse_2 {
	position: absolute;
	overflow: visible;
	width: 51px;
	height: 51px;
	left: 0px;
	top: 118.99px;
}
#ID3 {
	opacity: 1;
	position: absolute;
	width: 281.02px;
	height: 169.99px;
	left: 857.854px;
	top: 90px;
	overflow: visible;
}
#Director_Engineering___Jon_Doe_A0_Text_27 {
	opacity: 1;
	position: absolute;
	left: 60.224px;
	top: 137.695px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 171px;
	white-space: nowrap;
	line-height: 30px;
	margin-top: -9px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(110,116,124,1);
}
#testimonial_bg_A0_Path_4 {
	opacity: 1;
	filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.102));
	fill: rgba(255,255,255,1);
}
.testimonial_bg_A0_Path_4 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 0px;
	left: 1.02px;
	width: 310px;
	height: 140px;
}
#Morbi_venenatis__nulla_at_accu_A0_Text_28 {
	opacity: 1;
	position: absolute;
	left: 22.308px;
	top: 18.282px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: 240.212px;
	height: 78.833px;
	line-height: 18px;
	margin-top: -2.5px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(101,107,116,1);
}
#image_A0_Ellipse_3 {
	opacity: 1;
	fill: rgba(210,220,224,1);
}
.image_A0_Ellipse_3 {
	position: absolute;
	overflow: visible;
	width: 51px;
	height: 51px;
	left: 0px;
	top: 118.99px;
}
#pagination {
	opacity: 1;
	position: absolute;
	width: 65px;
	height: 17px;
	left: 652.659px;
	top: 279px;
	overflow: visible;
}
#selected {
	opacity: 1;
	fill: rgba(32,149,188,1);
}
.selected {
	position: absolute;
	overflow: visible;
	width: 17px;
	height: 17px;
	left: 0px;
	top: 0px;
}
#unselected {
	opacity: 1;
	fill: rgba(247,248,250,1);
	stroke: rgb(32, 149, 188);
	stroke-width: 3px;
	stroke-linejoin: round;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.unselected {
	position: absolute;
	overflow: visible;
	width: 17px;
	height: 17px;
	left: 24px;
	top: 0px;
}
#unselected_A0_Ellipse_6 {
	opacity: 1;
	fill: rgba(247,248,250,1);
	stroke: rgb(32, 149, 188);
	stroke-width: 3px;
	stroke-linejoin: round;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.unselected_A0_Ellipse_6 {
	position: absolute;
	overflow: visible;
	width: 17px;
	height: 17px;
	left: 48px;
	top: 0px;
}
#bg_spodni_png {
	opacity: 1;
	fill: rgba(166,178,196,1);
}
.bg_spodni_png {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 328px;
	left: 0px;
	top: 1348px;
}
#Na_e_reference_hovo___za_n_s {
	opacity: 1;
	position: absolute;
	left: 744px;
	top: 1385.62px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 433px;
	white-space: nowrap;
	text-align: center;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(255,255,255,1);
}
#Jsme_r_di___e_m__eme_b_t_dlouh {
	opacity: 1;
	position: absolute;
	left: 582px;
	top: 1435.62px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 755px;
	white-space: nowrap;
	line-height: 29.895423889160156px;
	margin-top: -4.447711944580078px;
	text-align: center;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 21px;
	color: rgba(255,255,255,1);
}
#cargosped_png {
	opacity: 0.42;
	fill: url(#cargosped_png_A0_Rectangle_15_pattern);
}
.cargosped_png {
	position: absolute;
	overflow: visible;
	width: 230px;
	height: 51px;
	left: 1037.426px;
	top: 1502px;
}
#bg_zapati_png {
	opacity: 1;
	fill: rgba(13,18,62,1);
}
.bg_zapati_png {
	position: absolute;
	overflow: visible;
	width: 1920.172px;
	height: 307px;
	left: 0px;
	top: 1676px;
}
#spodek_png {
	opacity: 1;
	fill: rgba(236,108,107,1);
}
.spodek_png {
	position: absolute;
	overflow: visible;
	width: 1920.172px;
	height: 57px;
	left: 0px;
	top: 1926px;
}
#Kontakty {
	opacity: 1;
	position: absolute;
	left: 918px;
	top: 1708.519px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 85px;
	white-space: nowrap;
	text-align: center;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(208,214,221,1);
	letter-spacing: 0.1px;
}
#Zauzoo_spol__s_r_o__Nad_Kajet_ {
	opacity: 1;
	position: absolute;
	left: 778px;
	top: 1758.507px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 365px;
	white-space: nowrap;
	line-height: 27px;
	margin-top: -5.5px;
	text-align: center;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(165,171,178,1);
}
#__All_rights_reserved_2019__Za {
	opacity: 1;
	position: absolute;
	left: 803px;
	top: 1938.806px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 315px;
	white-space: nowrap;
	line-height: 27px;
	margin-top: -6px;
	text-align: center;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(255,255,255,1);
}
#selected_png {
	opacity: 1;
	fill: rgba(255,255,255,1);
}
.selected_png {
	position: absolute;
	overflow: visible;
	width: 12.14px;
	height: 12.14px;
	left: 271.775px;
	top: 529.86px;
}
#selected_png_A0_Ellipse_8 {
	opacity: 1;
	fill: rgba(255,255,255,1);
}
.selected_png_A0_Ellipse_8 {
	position: absolute;
	overflow: visible;
	width: 12.14px;
	height: 12.14px;
	left: 294.628px;
	top: 529.86px;
}
#selected_png_A0_Ellipse_9 {
	opacity: 1;
	fill: rgba(255,255,255,1);
}
.selected_png_A0_Ellipse_9 {
	position: absolute;
	overflow: visible;
	width: 12.14px;
	height: 12.14px;
	left: 317.48px;
	top: 529.86px;
}
#Group_3 {
	opacity: 1;
	position: absolute;
	width: 270.977px;
	height: 55.947px;
	left: 268px;
	top: 29px;
	overflow: visible;
}
#Group_1 {
	opacity: 1;
	position: absolute;
	width: 57.141px;
	height: 55.947px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_1 {
	opacity: 1;
	fill: rgba(236,108,107,1);
}
.Path_1 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 12.166px;
	left: 31.046px;
	width: 0.068px;
	height: 0.04px;
}
#Path_2 {
	opacity: 1;
	fill: rgba(236,108,107,1);
}
.Path_2 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 57.141px;
	height: 55.947px;
}
#Path_3 {
	opacity: 1;
	fill: rgba(236,108,107,1);
}
.Path_3 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 43.74px;
	left: 26.027px;
	width: 0.068px;
	height: 0.04px;
}
#Group_2 {
	opacity: 1;
	position: absolute;
	width: 201.695px;
	height: 30.291px;
	left: 69.282px;
	top: 12.828px;
	overflow: visible;
}
#Path_4 {
	opacity: 1;
	fill: rgba(255,255,255,1);
}
.Path_4 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 0.41px;
	left: 0px;
	width: 23.68px;
	height: 29.466px;
}
#Path_5 {
	opacity: 1;
	fill: rgba(255,255,255,1);
}
.Path_5 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 0.409px;
	left: 30.726px;
	width: 30.707px;
	height: 29.468px;
}
#Path_6 {
	opacity: 1;
	fill: rgba(255,255,255,1);
}
.Path_6 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 0.409px;
	left: 68.48px;
	width: 26.156px;
	height: 29.881px;
}
#Path_7 {
	opacity: 1;
	fill: rgba(255,255,255,1);
}
.Path_7 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 0.41px;
	left: 102.858px;
	width: 23.68px;
	height: 29.466px;
}
#Path_8 {
	opacity: 1;
	fill: rgba(255,255,255,1);
}
.Path_8 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 0px;
	left: 132.407px;
	width: 31.12px;
	height: 30.291px;
}
#Path_9 {
	opacity: 1;
	fill: rgba(255,255,255,1);
}
.Path_9 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 0px;
	left: 170.574px;
	width: 31.12px;
	height: 30.291px;
}
#Group_22 {
	opacity: 1;
	position: absolute;
	width: 102.65px;
	height: 44px;
	left: 1556px;
	top: 35px;
	overflow: visible;
}
#Rectangle_75 {
	opacity: 1;
	fill: rgba(236,108,107,1);
}
.Rectangle_75 {
	position: absolute;
	overflow: visible;
	width: 102.65px;
	height: 44px;
	left: 0px;
	top: 0px;
}
#Chad_Hodges {
	opacity: 1;
	position: absolute;
	left: 41.33px;
	top: 11.667px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 41px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3px;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(255,255,255,1);
}
#Path_87 {
	opacity: 1;
	fill: rgba(255,255,255,1);
}
.Path_87 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 15.72px;
	left: 15.867px;
	width: 13.379px;
	height: 13.379px;
}
#Outline {
	opacity: 1;
	position: absolute;
	width: 56.693px;
	height: 50.692px;
	left: 406px;
	top: 1041px;
	overflow: visible;
}
#Path_88 {
	opacity: 1;
	fill: rgba(236,108,107,1);
}
.Path_88 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 56.693px;
	height: 50.692px;
}
#Path_89 {
	opacity: 1;
	fill: rgba(236,108,107,1);
}
.Path_89 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 3.791px;
	left: 3.78px;
	width: 1.893px;
	height: 1.881px;
}
#Path_90 {
	opacity: 1;
	fill: rgba(236,108,107,1);
}
.Path_90 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 3.774px;
	left: 7.56px;
	width: 1.889px;
	height: 1.895px;
}
#Path_91 {
	opacity: 1;
	fill: rgba(236,108,107,1);
}
.Path_91 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 3.791px;
	left: 11.339px;
	width: 1.893px;
	height: 1.881px;
}
#Path_92 {
	opacity: 1;
	fill: rgba(236,108,107,1);
}
.Path_92 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 11.338px;
	left: 3.78px;
	width: 49.134px;
	height: 11.228px;
}
#Path_93 {
	opacity: 1;
	fill: rgba(236,108,107,1);
}
.Path_93 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 24.456px;
	left: 3.78px;
	width: 17.008px;
	height: 22.457px;
}
#Path_94 {
	opacity: 1;
	fill: rgba(236,108,107,1);
}
.Path_94 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 24.456px;
	left: 22.678px;
	width: 30.236px;
	height: 10.283px;
}
#Path_95 {
	opacity: 1;
	fill: rgba(236,108,107,1);
}
.Path_95 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 36.629px;
	left: 22.678px;
	width: 30.236px;
	height: 10.284px;
}
#surface1 {
	opacity: 1;
	position: absolute;
	width: 56.693px;
	height: 52.913px;
	left: 763px;
	top: 1040px;
	overflow: visible;
}
#Path_96 {
	opacity: 1;
	fill: rgba(236,108,107,1);
}
.Path_96 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 49.134px;
	height: 45.354px;
}
#Path_97 {
	opacity: 1;
	fill: rgba(236,108,107,1);
}
.Path_97 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 3.78px;
	left: 3.78px;
	width: 1.89px;
	height: 1.889px;
}
#Path_98 {
	opacity: 1;
	fill: rgba(236,108,107,1);
}
.Path_98 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 3.78px;
	left: 7.56px;
	width: 1.889px;
	height: 1.889px;
}
#Path_99 {
	opacity: 1;
	fill: rgba(236,108,107,1);
}
.Path_99 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 3.78px;
	left: 11.339px;
	width: 1.89px;
	height: 1.889px;
}
#Path_100 {
	opacity: 1;
	fill: rgba(236,108,107,1);
}
.Path_100 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 7.559px;
	left: 7.56px;
	width: 49.133px;
	height: 45.354px;
}
#Path_101 {
	opacity: 1;
	fill: rgba(236,108,107,1);
}
.Path_101 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 11.339px;
	left: 11.339px;
	width: 1.89px;
	height: 1.889px;
}
#Path_102 {
	opacity: 1;
	fill: rgba(236,108,107,1);
}
.Path_102 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 11.339px;
	left: 15.119px;
	width: 1.889px;
	height: 1.889px;
}
#Path_103 {
	opacity: 1;
	fill: rgba(236,108,107,1);
}
.Path_103 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 11.339px;
	left: 18.898px;
	width: 1.89px;
	height: 1.889px;
}
#Path_104 {
	opacity: 1;
	fill: rgba(236,108,107,1);
}
.Path_104 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 15.118px;
	left: 11.339px;
	width: 41.575px;
	height: 1.89px;
}
#Path_105 {
	opacity: 1;
	fill: rgba(236,108,107,1);
}
.Path_105 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 19.843px;
	left: 11.339px;
	width: 7.559px;
	height: 1.889px;
}
#Path_106 {
	opacity: 1;
	fill: rgba(236,108,107,1);
}
.Path_106 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 23.622px;
	left: 11.339px;
	width: 5.669px;
	height: 1.89px;
}
#Path_109 {
	opacity: 1;
	fill: rgba(236,108,107,1);
}
.Path_109 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 47.244px;
	left: 47.245px;
	width: 5.669px;
	height: 1.89px;
}
#Group_25 {
	opacity: 1;
	position: absolute;
	width: 22.139px;
	height: 21.677px;
	left: 21.862px;
	top: 23.677px;
	overflow: visible;
}
#Path_119 {
	opacity: 1;
	fill: rgba(236,108,107,1);
}
.Path_119 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 4.714px;
	left: 12.028px;
	width: 0.026px;
	height: 0.015px;
}
#Path_120 {
	opacity: 1;
	fill: rgba(236,108,107,1);
}
.Path_120 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 22.139px;
	height: 21.677px;
}
#Path_121 {
	opacity: 1;
	fill: rgba(236,108,107,1);
}
.Path_121 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 16.947px;
	left: 10.083px;
	width: 0.026px;
	height: 0.015px;
}
#Group_4 {
	opacity: 1;
	position: absolute;
	width: 56.693px;
	height: 50.019px;
	left: 1113px;
	top: 1041px;
	overflow: visible;
}
#Path_110 {
	opacity: 1;
	fill: rgba(236,108,107,1);
}
.Path_110 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 24.2px;
	left: 15.377px;
	width: 7.928px;
	height: 12.187px;
}
#Path_111 {
	opacity: 1;
	fill: rgba(236,108,107,1);
}
.Path_111 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 24.2px;
	left: 33.389px;
	width: 7.928px;
	height: 12.187px;
}
#Path_112 {
	opacity: 1;
	fill: rgba(236,108,107,1);
}
.Path_112 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 20.461px;
	left: 25.266px;
	width: 5.647px;
	height: 19.794px;
}
#Path_113 {
	opacity: 1;
	fill: rgba(236,108,107,1);
}
.Path_113 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 56.693px;
	height: 50.019px;
}
#Path_114 {
	opacity: 1;
	fill: rgba(236,108,107,1);
}
.Path_114 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 13.115px;
	left: 0px;
	width: 56.693px;
	height: 1.872px;
}
#Path_115 {
	opacity: 1;
	fill: rgba(236,108,107,1);
}
.Path_115 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 4.585px;
	left: 13.03px;
	width: 5.924px;
	height: 5.924px;
}
#Path_116 {
	opacity: 1;
	fill: rgba(236,108,107,1);
}
.Path_116 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 4.556px;
	left: 3.93px;
	width: 5.924px;
	height: 5.924px;
}
#Path_117 {
	opacity: 1;
	fill: rgba(236,108,107,1);
}
.Path_117 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 4.613px;
	left: 22.132px;
	width: 5.923px;
	height: 5.924px;
}
#Group_19 {
	opacity: 1;
	position: absolute;
	width: 56.693px;
	height: 54.804px;
	left: 1466px;
	top: 1039px;
	overflow: visible;
}
#Group_6 {
	opacity: 1;
	position: absolute;
	width: 1.89px;
	height: 1.89px;
	left: 27.402px;
	top: 45.355px;
	overflow: visible;
}
#Group_5 {
	opacity: 1;
	position: absolute;
	width: 1.89px;
	height: 1.89px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_76 {
	opacity: 1;
	fill: rgba(236,108,107,1);
}
.Rectangle_76 {
	position: absolute;
	overflow: visible;
	width: 1.89px;
	height: 1.89px;
	left: 0px;
	top: 0px;
}
#Group_8 {
	opacity: 1;
	position: absolute;
	width: 56.693px;
	height: 54.804px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_7 {
	opacity: 1;
	position: absolute;
	width: 56.693px;
	height: 54.804px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_118 {
	opacity: 1;
	fill: rgba(236,108,107,1);
}
.Path_118 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 56.693px;
	height: 54.804px;
}
#Group_10 {
	opacity: 1;
	position: absolute;
	width: 15.118px;
	height: 1.89px;
	left: 27.402px;
	top: 4.725px;
	overflow: visible;
}
#Group_9 {
	opacity: 1;
	position: absolute;
	width: 15.118px;
	height: 1.89px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_77 {
	opacity: 1;
	fill: rgba(236,108,107,1);
}
.Rectangle_77 {
	position: absolute;
	overflow: visible;
	width: 15.118px;
	height: 1.89px;
	left: 0px;
	top: 0px;
}
#Group_12 {
	opacity: 1;
	position: absolute;
	width: 20.787px;
	height: 1.89px;
	left: 21.733px;
	top: 8.504px;
	overflow: visible;
}
#Group_11 {
	opacity: 1;
	position: absolute;
	width: 20.787px;
	height: 1.89px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_78 {
	opacity: 1;
	fill: rgba(236,108,107,1);
}
.Rectangle_78 {
	position: absolute;
	overflow: visible;
	width: 20.787px;
	height: 1.89px;
	left: 0px;
	top: 0px;
}
#Group_14 {
	opacity: 1;
	position: absolute;
	width: 20.787px;
	height: 1.89px;
	left: 21.733px;
	top: 12.284px;
	overflow: visible;
}
#Group_13 {
	opacity: 1;
	position: absolute;
	width: 20.787px;
	height: 1.89px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_79 {
	opacity: 1;
	fill: rgba(236,108,107,1);
}
.Rectangle_79 {
	position: absolute;
	overflow: visible;
	width: 20.787px;
	height: 1.89px;
	left: 0px;
	top: 0px;
}
#Group_16 {
	opacity: 1;
	position: absolute;
	width: 17.008px;
	height: 1.89px;
	left: 21.733px;
	top: 16.063px;
	overflow: visible;
}
#Group_15 {
	opacity: 1;
	position: absolute;
	width: 17.008px;
	height: 1.89px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_80 {
	opacity: 1;
	fill: rgba(236,108,107,1);
}
.Rectangle_80 {
	position: absolute;
	overflow: visible;
	width: 17.008px;
	height: 1.89px;
	left: 0px;
	top: 0px;
}
#Group_18 {
	opacity: 1;
	position: absolute;
	width: 1.89px;
	height: 1.89px;
	left: 23.622px;
	top: 4.725px;
	overflow: visible;
}
#Group_17 {
	opacity: 1;
	position: absolute;
	width: 1.89px;
	height: 1.89px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_81 {
	opacity: 1;
	fill: rgba(236,108,107,1);
}
.Rectangle_81 {
	position: absolute;
	overflow: visible;
	width: 1.89px;
	height: 1.89px;
	left: 0px;
	top: 0px;
}
#Line_1 {
	opacity: 1;
	fill: transparent;
	stroke: rgb(255, 255, 255);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_1 {
	overflow: visible;
	position: absolute;
	top: 35.5px;
	left: 1382.5px;
	width: 1px;
	height: 44px;
}
#Ref_1 {
	opacity: 1;
	fill: url(#Ref_1_A0_Rectangle_26_pattern);
}
.Ref_1 {
	position: absolute;
	overflow: visible;
	width: 856px;
	height: 642px;
	left: 871px;
	top: 222px;
}
#Group_26 {
	opacity: 1;
	position: absolute;
	width: 169.848px;
	height: 70.22px;
	left: 1489px;
	top: 1539px;
	overflow: visible;
}
#Path_122 {
	opacity: 1;
	fill: rgba(255,255,255,1);
}
.Path_122 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 0px;
	left: 132.085px;
	width: 37.764px;
	height: 44.338px;
}
#Path_123 {
	opacity: 1;
	fill: rgba(255,255,255,1);
}
.Path_123 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 5.222px;
	left: 0px;
	width: 123.883px;
	height: 64.998px;
}
#Group_27 {
	opacity: 1;
	position: absolute;
	width: 281.34px;
	height: 42.341px;
	left: 1122px;
	top: 1553px;
	overflow: visible;
}
#Path_395 {
	opacity: 1;
	fill: rgba(255,255,255,1);
}
.Path_395 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 0px;
	left: 78.477px;
	width: 202.863px;
	height: 42.341px;
}
#Path_396 {
	opacity: 1;
	fill: rgba(255,255,255,1);
}
.Path_396 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 0.612px;
	left: 18.321px;
	width: 20.931px;
	height: 20.931px;
}
#Rectangle_84 {
	opacity: 1;
	fill: rgba(255,255,255,1);
}
.Rectangle_84 {
	position: absolute;
	overflow: visible;
	width: 57.546px;
	height: 7.856px;
	left: 0px;
	top: 25.484px;
}
#Path_397 {
	opacity: 1;
	fill: rgba(255,255,255,1);
}
.Path_397 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 0.612px;
	left: 0px;
	width: 14.395px;
	height: 20.946px;
}
#Path_398 {
	opacity: 1;
	fill: rgba(255,255,255,1);
}
.Path_398 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 0.612px;
	left: 43.151px;
	width: 14.396px;
	height: 20.946px;
}
#Group_28 {
	opacity: 1;
	position: absolute;
	width: 226px;
	height: 43.483px;
	left: 810px;
	top: 1552.958px;
	overflow: visible;
}
#Path_124 {
	opacity: 1;
	fill: rgba(255,255,255,1);
}
.Path_124 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 26.898px;
	left: 0px;
	width: 36.344px;
	height: 16.585px;
}
#Path_125 {
	opacity: 1;
	fill: rgba(255,255,255,1);
}
.Path_125 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 26.886px;
	left: 151.39px;
	width: 36.276px;
	height: 16.598px;
}
#Path_126 {
	opacity: 1;
	fill: rgba(255,255,255,1);
}
.Path_126 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 0px;
	left: 102.55px;
	width: 11.464px;
	height: 7.757px;
}
#Path_127 {
	opacity: 1;
	fill: rgba(255,255,255,1);
}
.Path_127 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 0.947px;
	left: 0.949px;
	width: 225.051px;
	height: 42.239px;
}
#Path_128 {
	opacity: 1;
	fill: rgba(255,255,255,1);
}
.Path_128 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 8.83px;
	left: 3.029px;
	width: 34.249px;
	height: 11.883px;
}
#Path_129 {
	opacity: 1;
	fill: rgba(255,255,255,1);
}
.Path_129 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 8.828px;
	left: 154.344px;
	width: 34.261px;
	height: 11.909px;
}
#Path_130 {
	opacity: 1;
	fill: rgba(255,255,255,1);
}
.Path_130 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 26.841px;
	left: 94.225px;
	width: 13.324px;
	height: 15.474px;
}
#Path_131 {
	opacity: 1;
	fill: rgba(255,255,255,1);
}
.Path_131 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 11.5px;
	left: 99.469px;
	width: 11.84px;
	height: 9.2px;
}
#Group_29 {
	opacity: 1;
	position: absolute;
	width: 110.123px;
	height: 110.123px;
	left: 615px;
	top: 1519px;
	overflow: visible;
}
#Path_132 {
	opacity: 1;
	fill: rgba(255,255,255,1);
}
.Path_132 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 110.123px;
	height: 110.123px;
}
#Path_133 {
	opacity: 1;
	fill: rgba(255,255,255,1);
}
.Path_133 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 50.769px;
	left: 70.755px;
	width: 5.745px;
	height: 8.462px;
}
#cdr_layer2 {
	opacity: 1;
	position: absolute;
	width: 260.112px;
	height: 32.589px;
	left: 269px;
	top: 1558px;
	overflow: visible;
}
#Path_134 {
	opacity: 1;
	fill: rgba(255,255,255,1);
}
.Path_134 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 0.993px;
	left: 67.72px;
	width: 19.775px;
	height: 31.011px;
}
#Path_135 {
	opacity: 1;
	fill: rgba(255,255,255,1);
}
.Path_135 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 0.047px;
	left: 87.609px;
	width: 32.704px;
	height: 32.533px;
}
#Path_136 {
	opacity: 1;
	fill: rgba(255,255,255,1);
}
.Path_136 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 0.936px;
	left: 188.169px;
	width: 25.157px;
	height: 31.635px;
}
#Path_137 {
	opacity: 1;
	fill: rgba(255,255,255,1);
}
.Path_137 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 0.936px;
	left: 32.794px;
	width: 32.269px;
	height: 31.389px;
}
#Path_138 {
	opacity: 1;
	fill: rgba(255,255,255,1);
}
.Path_138 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 0.085px;
	left: 122.157px;
	width: 28.713px;
	height: 31.54px;
}
#Path_139 {
	opacity: 1;
	fill: rgba(255,255,255,1);
}
.Path_139 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 0.151px;
	left: 216.248px;
	width: 43.863px;
	height: 31.484px;
}
#Path_140 {
	opacity: 1;
	fill: rgba(255,255,255,1);
}
.Path_140 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 0.115px;
	left: 153.033px;
	width: 32.687px;
	height: 32.474px;
}
#Path_141 {
	opacity: 1;
	fill: rgba(255,255,255,1);
}
.Path_141 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 30.373px;
	height: 32.533px;
}