// Color variables (appears count calculates by raw css)
@color0: #ffffff; // Appears 2 times

// Width variables (appears count calculates by raw css)
@width0: 1024px; // Appears 17 times
@width5: 992px; // Appears 5 times
@width6: 173px; // Appears 2 times
@width10: 300px; // Appears 2 times
@width11: 106px; // Appears 2 times
@width12: 232px; // Appears 2 times
@width15: 100%; // Appears 7 times
@width17: 44px; // Appears 2 times
@width19: 90px; // Appears 2 times

// Height variables (appears count calculates by raw css)
@height11: 40px; // Appears 3 times
@height12: 17px; // Appears 2 times
@height14: 16px; // Appears 3 times
@height15: 50px; // Appears 2 times
@height17: 24px; // Appears 2 times
@height19: 37px; // Appears 2 times

// @-moz-document {
// 	url-prefix() {
// 		div.head div.bang span.name { letter-spacing: -1px;
// 	}
// }
body {
	background-color: rgb(13,18,62);
	font-family: "Open Sans" !important;
	margin: auto;
	padding: 0px;
	text-align: center;
	width: @width15;
}
div.document {
	height: 1952px;
	width: @width15;
}
div.wrapper {
	min-width: @width0;
	width: @width15;
}
div.wrapper-top {
	background-color: rgb(13,18,62);
	max-width: @width0;
	min-width: @width0;
	position: fixed;
	width: @width15;
	z-index: 1000;
}
div.wrapper-head {
	background-image: url('../Zauzoo_img/main.png');
}
div.wrapper-content {
	background-color: @color0;
	display: block;
	margin: auto;
}
div.wrapper-references {
	background-color: rgb(166,178,196);
}
div.wrapper-products {
	background-color: rgb(13,18,62);
}
div.wrapper-footer {
	background-color: rgb(236,108,107);
}
div.wrapper-project {
	background-color: @color0;
}
div.page {
	background-color: transparent;
	position: relative;
	width: @width15;
}
div.top {
	height: 95px;
	margin: auto;
	position: relative;
	width: @width0;
	img.logo {
		float: left;
		margin-left: 16px;
		margin-top: 25px;
	}
	div.language-menu {
		color: white;
		display: block;
		font-size: 13px;
		position: absolute;
		right: 120px;
		top: 40px;
		a {
			color: white;
			cursor: pointer;
			font-size: 13px;
			text-decoration: none;
			&:hover {
				color: rgb(236,108,107);
			}
		}
	}
	ul.top-menu {
		border-color: white;
		border-style: solid;
		border-width: 0px 1px 0px 0px;
		display: inline-block;
		margin-top: 33px;
		padding-right: 15px;
		position: absolute;
		right: 215px;
		li {
			color: rgb(255, 255, 255);
			display: block;
			float: left;
			font-family: Open Sans;
			font-size: 14px;
			line-height: 2.4;
			list-style: none outside none;
			margin-left: 20px;
			text-align: right;
			top: 50px;
			&:hover {
				color: rgb(236,108,107);
				cursor: pointer;
			}
		}
	}
}
.log_in {
	float: right;
	margin-left: 5px;
	margin-top: 30px;
	width: @width19;
	img {
		width: @width19;
	}
}
a.log_in_button {
	width: 100px;
}
div.head {
	height: 452px;
	position: relative;
	div.bang {
		font-family: Open Sans;
		margin-left: 20%;
		margin-right: 20%;
		position: absolute;
		text-align: left;
		top: 22px;
		width: 5@width19;
		span.name {
			color: rgb(255, 255, 255);
			display: block;
			font-family: "Open Sans" !important;
			font-size: 48px;
			font-style: normal;
			font-weight: bold;
			line-height: 120%;
			margin-bottom: 10px;
			width: @width5;
		}
		span.description {
			color: rgb(255, 255, 255);
			display: block;
			font-size: 18px;
			line-height: 2;
			text-align: left;
		}
		div.buttons {
			margin-top: 24px;
			position: absolute;
			top: 290px;
			div.button {
				background-color: rgb(236,108,107);
				border-radius: 5px;
				border: 1px solid white;
				color: rgb(255, 255, 255);
				float: left;
				font-size: 16px;
				height: @height15;
				line-height: 46px;
				margin-right: 10px;
				text-align: center;
				width: @width6;
				&:hover {
					background-color: white;
					color: rgb(236,108,107);
					cursor: pointer;
				}
			}
		}
	}
	div.pointers {
		height: @height12;
		margin-left: 10%;
		margin-left: 20%;
		position: absolute;
		top: 414px;
		div.pointer {
			background-image: url('../Zauzoo_img/unselected_2.png');
			background-repeat: no-repeat;
			float: left;
			height: @height12;
			margin-right: 7px;
			width: 17px;
			&:hover {
				cursor: pointer;
			}
		}
		div.pointer-selected {
			background-image: url('../Zauzoo_img/selected_2.png');
		}
	}
}
div.grey {
	background-color: rgb(246,247,249);
	height: 261px;
	position: relative;
	width: @width15;
	div.text {
		left: 16px;
		margin-left: 10%;
		margin-left: 20%;
		margin-right: 10%;
		margin-right: 20%;
		position: absolute;
		text-align: left;
		top: 32px;
		width: 355px;
		span.name {
			color: rgb(62, 67, 74);
			display: block;
			font-size: 24px;
			font-weight: bold;
			line-height: 1.25;
			margin-bottom: 24px;
		}
		span.description {
			color: black;
			font-size: 14px;
		}
	}
}
div.macbook {
	left: 500px;
	left: 700px;
	position: absolute;
	top: 220px;
	width: 650px;
	z-index: 20;
	img.macbook {
	}
	img.frame {
		height: 2@height15;
		left: 123px;
		position: absolute;
		top: 104px;
		width: 406px;
	}
}
div.project {
	background-repeat: no-repeat;
	border-bottom: 1px solid #EDEDED;
	display: block;
	height: 0px;
	margin-left: 5%;
	overflow: hidden;
	position: relative;
	width: @width5;
	div.free {
		height: @height11;
		width: @width0;
	}
	span.name {
		color: rgb(62, 67, 74);
		display: block;
		font-size: 30px;
		font-weight: bold;
		line-height: 1;
		text-align: center;
	}
	div.description {
		color: rgb(126, 132, 142);
		height: auto;
		margin-bottom: 35px;
		margin-top: 40px;
		text-align: justify;
		width: @width5;
		p {
			line-height: 150%;
		}
		img.left {
			float: left;
			margin-bottom: 5px;
			margin-right: 16px;
			margin-top: 5px;
			width: @width10;
		}
		img.right {
			float: right;
			margin-bottom: 5px;
			margin-left: 16px;
			margin-top: 5px;
			width: @width10;
		}
	}
	div.button {
		background-color: rgb(236,108,107);
		border-radius: 5px;
		bottom: 0px;
		color: white;
		font-size: 14px;
		height: @height19;
		line-height: 250%;
		position: absolute;
		right: 0px;
		text-align: center;
		width: @width11;
		&:hover {
			background-color: white;
			color: rgb(236,108,107);
			cursor: pointer;
		}
	}
}
div.content {
	height: 5@height17;
	margin: auto;
	position: relative;
	width: @width0;
	div.free {
		height: @height11;
		width: @width0;
	}
	div.name {
		color: rgb(62, 67, 74);
		font-size: 30px;
		font-weight: bold;
		line-height: 1;
		text-align: center;
	}
	div.description {
		color: rgb(126, 132, 142);
		font-size: 21px;
		line-height: 1.143;
		margin-top: 32px;
		text-align: center;
	}
	div.offers {
		height: 341px;
		left: 18px;
		position: absolute;
		top: 183px;
		width: @width5;
		div.offer {
			background-image: url('../images/outline.png');
			background-repeat: no-repeat;
			float: left;
			height: 305px;
			overflow: hidden;
			position: absolute;
			width: @width12;
			div.text {
				color: rgb(126, 132, 142);
				height: 271px;
				left: 232px;
				padding-bottom: 16px;
				padding-left: 16px;
				padding-right: 16px;
				padding-top: 16px;
				position: absolute;
				text-align: left;
				top: 0px;
				width: 728px;
			}
			&:last-child {
				margin-right: 0px;
			}
			img.icon {
				position: absolute;
			}
			img.icon-web {
				height: 36px;
				left: 94px;
				top: 60px;
				width: @width17;
			}
			img.icon-is {
				height: 34px;
				left: 94px;
				top: 61px;
				width: @width17;
			}
			img.icon-programovani {
				height: @height11;
				left: 95px;
				top: 58px;
				width: 41px;
			}
			img.icon-konzultace {
				height: 39px;
				left: 96px;
				top: 58px;
				width: 39px;
			}
			span.name {
				color: rgb(13, 18, 62);
				display: block;
				font-size: 19px;
				font-weight: bold;
				height: @height17;
				line-height: 1.421;
				position: absolute;
				text-align: center;
				top: 132px;
				width: @width12;
			}
			span.description {
				color: rgb(137, 143, 152);
				font-size: 14px;
				height: 62px;
				left: 26px;
				line-height: 1.714;
				position: absolute;
				text-align: center;
				top: 166px;
				width: 180px;
			}
			div.button {
				background-color: white;
				border-radius: 5px;
				border: 1px solid rgb(236,108,107);
				color: rgb(236, 108, 107);
				font-size: 14px;
				height: @height19;
				left: 63px;
				line-height: 250%;
				position: absolute;
				text-align: center;
				top: 266px;
				width: @width11;
				&:hover {
					background-color: rgb(236,108,107);
					color: white;
					cursor: pointer;
				}
			}
		}
		div.offer-web {
			left: 0px;
			top: 0px;
		}
		div.offer-is {
			left: 252px;
			top: 0px;
		}
		div.offer-programovani {
			left: 504px;
			top: 0px;
		}
		div.offer-konzultace {
			left: 756px;
			top: 0px;
		}
	}
}
div.references {
	height: 256px;
	margin: auto;
	overflow: hidden;
	position: relative;
	width: @width0;
	span.name {
		color: rgb(255, 255, 255);
		display: block;
		font-size: 30px;
		font-weight: bold;
		height: 30px;
		line-height: 0.83;
		position: absolute;
		text-align: center;
		top: 30px;
		width: @width0;
	}
	span.description {
		color: white;
		display: block;
		font-size: 17px;
		height: @height17;
		line-height: 1.424;
		position: absolute;
		text-align: center;
		top: 80px;
		width: @width0;
	}
	div.images {
		left: 16px;
		overflow: hidden;
		position: absolute;
		top: 128px;
		width: @width5;
		div {
			color: rgb(149, 205, 224);
			font-size: 18px;
			margin-bottom: 32px;
			overflow: hidden;
		}
		img.ref-image {
			margin-right: 25px;
			width: 170px;
			z-index: 0;
			&:last-child {
				margin-right: 0;
			}
		}
	}
	div.button-wrapper {
		background-color: #007abe;
		bottom: 0px;
		height: 112px;
		left: 0px;
		position: absolute;
		width: @width0;
	}
	div.button {
		background-image: url('../images/button.png');
		bottom: 42px;
		color: rgb(255, 255, 255);
		font-size: 16px;
		height: @height15;
		left: 425px;
		line-height: 46px;
		position: absolute;
		text-align: center;
		width: @width6;
		&:hover {
			background-image: url('../images/button_over.png');
			cursor: pointer;
		}
	}
}
.new {
	opacity: 0.5;
}
#shiedel_img {
	width: 80px;
}
div.products {
	height: 219px;
	margin: auto;
	position: relative;
	width: @width0;
	z-index: 20;
	span.name1 {
		color: rgb(208, 214, 221);
		display: block;
		font-size: 13px;
		font-weight: bold;
		height: @height14;
		position: absolute;
		text-align: center;
		top: 22px;
		width: @width0;
	}
	span.description1 {
		color: rgb(165, 171, 178);
		display: block;
		font-size: 13px;
		height: @height14;
		line-height: 2.077;
		opacity: 0.9;
		position: absolute;
		text-align: center;
		top: 42px;
		width: @width0;
		span.item {
			display: inline-block;
			margin-left: 5px;
			margin-right: 5px;
		}
	}
	span.name2 {
		color: rgb(208, 214, 221);
		display: block;
		font-size: 13px;
		font-weight: bold;
		height: @height14;
		position: absolute;
		text-align: center;
		top: 26px;
		width: @width0;
	}
	span.description2 {
		color: rgb(165, 171, 178);
		display: block;
		font-size: 13px;
		height: 60px;
		line-height: 2.077;
		opacity: 0.9;
		position: absolute;
		text-align: center;
		top: 56px;
		width: @width0;
		a {
			color: rgb(165, 171, 178);
		}
	}
}
div.footer {
	color: white;
	font-size: 13px;
	height: 57px;
	line-height: 64px;
	opacity: 0.9;
	text-align: center;
}
// @media only screen and (max-width: 1150px){
//     div.top {
//         margin: 0px;
//         margin-right: 0px;
//         max-width: 1024px;
//         width: 100%;
//     }

//     div.wrapper-top{
//         max-width: 1024px;
//     }

//     div.wrapper{
//         max-width: 1024px;
//     }

// }