<span class="name">Prohlížeč archivu EDI zpráv<br />pro společnost Editel</span>
<span class="description">Systém pro prohlížení archivu EDI komunikace. Umožňuje filtrování na základě mnoha různých parametrů. Implementováno pro společnost Editel CZ.</span>
<!--div class="buttons"><div class="button">Poptávka</div><div class="button">Více informací</div></div-->
